
@media screen and (min-width: 990px) {
  .grid--3-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 5 - 6.66% - var(--grid-desktop-horizontal-spacing) * 2);
  }
  
  .grid--4-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 4 - 8.33% - var(--grid-desktop-horizontal-spacing) * 3);
  }
  
  .grid--3-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 3 - 11.11% - var(--grid-desktop-horizontal-spacing) * 4);
  }
  
  .grid--2-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) / 2 - 16.66% - var(--grid-desktop-horizontal-spacing) * 5);
  }
  
  .grid--1-col-desktop .grid__item {
    width: calc((100% - var(--desktop-margin-left-first-item)) - var(--grid-desktop-horizontal-spacing) * 9);
  }
}
