/* 

TODO: 

1. take action to avoid the use of !important ___ DONE
2. create @media with font-sizes, check margins, paddings, empty space and dimensions.
3. add padding to <p>
4. activate slider in desktop ___ DONE using slider__everywhere (CHECK IF CLICKING CAN SLIDE OR ONLY WITH BUTTONS)
5. hide buttons (ONLY ON MOBILE FOR NOW, CHECK NUMBERS DISPLAY ON DESKTOP)
6. review styling and structure (MAYBE IS BETTER TO USE JUST ONE CUSTOM SECTION AND PLAY WITH CONTROLS IN THEME CUSTOMIZER, ADD OPTIONS TO IMPLEMENT THIS DESIGNS)
7. review, select and test theme customizer options.

*/

/* Font */
.custom-collection-list .card--standard.card--media .card__inner .card__information .card__heading {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: underline;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.collection-list-title {
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.collection-list-subtitle {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 990px) {
  .title, .title-wrapper-with-link {
    margin: 0;
  }
  .subtitle, .subtitle-wrapper-with-link {
    margin: 0;
  }
  .collection-list-subtitle {
    margin-bottom: 2px;
  }
  .collection-list-subtitle {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 990px) {
  .custom-collection-list .card--standard.card--media .card__inner .card__information .card__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }

  .collection-list-title {
    font-size: 39px;
    font-weight: 700;
    line-height: 52px;
  }

  .collection-list-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }
}

/* Page width */

.page-width, .page-width-desktop {
  max-width: 100%;
}

/* Display only inner card information */
.custom-collection-list .card-wrapper .card__content,
.custom-collection-list .card--standard.card--media .card__inner .card__information .card__caption {
  display: none;
}

.custom-collection-list .card--standard.card--media .card__inner .card__information,
.custom-collection-list .card--standard.card--media .card__inner .card__information .card__heading,
.custom-collection-list .card__inner .card__content {
  display: block;
}

.custom-collection-list .card__inner .card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* title */
.collection-list-title {
  margin-bottom: 0px;
  line-height: 27px;
  font-weight: 700;
  letter-spacing: 0em;
}

/* component-subtitle */

.subtitle .link {
  font-size: inherit;
}

.subtitle-wrapper-with-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.subtitle--primary {
  margin: 4rem 0;
}

.subtitle-wrapper--self-padded-tablet-down,
.subtitle-wrapper--self-padded-mobile {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (min-width: 750px) {
  .subtitle-wrapper--self-padded-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 990px) {
  .subtitle--primary {
    margin: 2rem 0;
  }

  .subtitle-wrapper-with-link {
    align-items: center;
  }

  .subtitle-wrapper-with-link .subtitle {
    margin-bottom: 0;
  }

  .subtitle-wrapper--self-padded-tablet-down {
    padding-left: 0;
    padding-right: 0;
  }
}

.subtitle-wrapper-with-link .link-with-icon {
  margin: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.subtitle-wrapper-with-link .link-with-icon svg {
  width: 1.5rem;
}

.subtitle-wrapper-with-link a {
  margin-top: 0;
  flex-shrink: 0;
}

.subtitle-wrapper--no-top-margin {
  margin-top: 0;
}

.subtitle-wrapper--no-top-margin > .title {
  margin-top: 0;
}

.custom-collection-list .card .card__inner {
  background: transparent;
}

/* Image border radius */
.custom-collection-list .card .card__inner .card__media.border-radius--0 {
  border-radius: 0px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--1 {
  border-radius: 1px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--2 {
  border-radius: 2px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--3 {
  border-radius: 3px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--4 {
  border-radius: 4px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--5 {
  border-radius: 5px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--6 {
  border-radius: 6px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--7 {
  border-radius: 7px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--8 {
  border-radius: 8px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--9 {
  border-radius: 9px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--10 {
  border-radius: 10px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--11 {
  border-radius: 11px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--12 {
  border-radius: 12px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--13 {
  border-radius: 13px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--14 {
  border-radius: 14px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--15 {
  border-radius: 15px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--16 {
  border-radius: 16px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--17 {
  border-radius: 17px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--18 {
  border-radius: 18px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--19 {
  border-radius: 19px;
}

.custom-collection-list .card .card__inner .card__media.border-radius--20 {
  border-radius: 20px;
}

